@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    color: #fff;
    line-height: 1.6;
}

/* Navigation bar */
section ul{
    margin: 0px;
    padding: 0.5rem;
}
section ul li{
    display: inline;
    list-style-type: none;
    margin: 0px 1rem;
}
section ul a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 4rem;
    margin-bottom: 0;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.3rem;
}

.section-bg{
    background-color: #f4f4f4;
    color: black;
}

img{
    width: 100%;
}

.small{
    font-size: 16px;
    text-align: center;
    clear: left;
}

/* First section */
#over{
    background: url(./images/showcase.jpeg) center/cover no-repeat;
    min-height: 95vh;
    text-align: center;
}
.container-0{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translateX(0%) translateY(-50%);
}

#btn-one{
    display: inline-block;
    text-decoration: none;
    background-color: #B90415;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#btn-two{
    display: inline-block;
    text-decoration: none;
    background-color: #103063;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container{
    text-align: center;
    padding: 2% 10%;
}

#entertain{
    background: url(./images/section-bg.jpeg) bottom/cover no-repeat;
    padding: 10% 0;
}

/* Gift */
.img-one{
    float: left;
    width: 50%;   
}
.img-two{
    float: left;
    width: 50%;
} 
.clearfix{
    content: "";
    clear: both;
    display: table;
    padding: 0 10%;
}

@media (max-width: 800px) {
  .img-one, .img-two {
    width: 100%;
  }
}
.small-font{
    font-size: 16px;
    clear: left;
}
#redeem{
    text-decoration: none;
    color:navy;
}