@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    color: #fff;
    line-height: 1.6;
}

/* Navigation bar */

section ul a{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    color: whitesmoke;
}

.video, .gift-card{
    background: #f4f4f4;
    color: black;
}

h1{
    text-align: center;
    font-size: 64px;
}

h2{
    text-align: center;
    font-size: 32px;
}

p{
    font-size: 20.8px;
    text-align: center;
}

div{
    padding: 0px 3em;
}


.overview{ 
    background: url(./images/showcase.jpeg) center/cover no-repeat;
    height: 92vh;
}

img{
    max-width: 90%;
}

.banner {
    background: url(./images/section-bg.jpeg) bottom/cover no-repeat;
}

.gift-card img{
    float: left;
    width: 50%;
}

.gift-card a{
    display: block;
    text-decoration: none;
    color: navy;
    text-align: center;
}